.header-fundo{
    background-color: black;
}

/* Header com fundo transparente para a Home */
.header-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4.5rem 3.125rem;
  flex-wrap: wrap;
  background-color: transparent;
}

/* Header padrão com fundo preto */
.header-padrao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 3rem;
  flex-wrap: wrap;
  background-color: black;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3rem;
    flex-wrap: wrap;
    
}

header img {
    width: 18rem;
    height: auto;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

nav div a {
    margin-right: 1.5rem;
}

.espacamento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}